/* ================= RESET ================= */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

/* ===== Scroll Fade Animation ===== */

.fade-in {
    opacity: 0;
    transform: translateY(40px);
    transition: opacity 0.9s ease, transform 0.9s ease;
}

.fade-in.show {
    opacity: 1;
    transform: translateY(0);
}

/* ================= GLOBAL BASE ================= */

body {
  font-family: 'BPG Rioni Arial', 'BPG Banner Caps', sans-serif !important;
}

.container {
  max-width: 1800px;
  width: 90%;
  margin: 40px auto 0 auto;
}

main {
  margin-top: 80px;
}


.scroll-top {
    position: fixed;
    bottom: 30px;
    right: 30px;

    width: 50px;
    height: 50px;

    border: none;
    border-radius: 50%;

    background: #6c8fc4;
    color: white;
    font-size: 22px;

    cursor: pointer;

    display: none;
    align-items: center;
    justify-content: center;

    box-shadow: 0 4px 10px rgba(0,0,0,0.2);

    transition: 0.3s;
}

.scroll-top:hover {
    background: #315283;
    transform: translateY(-3px);
}

.scroll-top.show {
    display: flex;
}

/* ================= NAVBAR ================= */

.navbar {
  width: 100%;
  background: #6c8fc4;
  padding: 12px 0;
}

.nav-container {
  width: 90%;
  max-width: 1200px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo-container {
  display: flex;
  align-items: center;
  gap: 15px;
}

.logo {
  width: 55px;
  height: 55px;
  border-radius: 50%;
  background: #ddd;
  border: 2px solid white;
}

.school-name {
  color: white;
  font-size: 18px;
}

.menu {
  display: flex;
  gap: 35px;
}

.menu a {
  text-decoration: none;
  color: white;
  font-size: 15px;
  font-weight: 500;
  transition: 0.2s;
}

.menu a:hover {
  opacity: 0.7;
}

.active {
  color: #315283 !important;
}
/* ================= SMART HEADER BEHAVIOR ================= */

.main-navbar {
  width: 100%;
  background: #6c8fc4;
  padding: 12px 0;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  transition: transform 0.35s ease;
}

.main-navbar.hide {
  transform: translateY(-100%);
}


/* space for fixed header */
body {
  padding-top: 0px;
}

/* hover trigger zone */
.header-hover-zone {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 25px;
  z-index: 9998;
}

/* ================= DROPDOWN MENU ================= */

.dropdown {
  position: relative;
}

.dropdown-link {
  text-decoration: none;
  color: white;
  font-size: 15px;
  font-weight: 500;
  transition: 0.2s;
  cursor: pointer;
}

.dropdown-link:hover {
  opacity: 0.7;
}

.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  background: #6c8fc4 !important;
  min-width: 200px;
  display: none;
  flex-direction: column;
  padding: 10px 0;
  border-radius: 6px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.15);
  z-index: 1000;
}

.dropdown-menu a {
  padding: 10px 16px;
  color: white;
  text-decoration: none;
  font-size: 14px;
  transition: 0.2s;
  display: block;
}

.dropdown-menu a:hover {
  background: rgba(255,255,255,0.15);
}

/* Show dropdown on hover */
.dropdown:hover .dropdown-menu {
  display: flex;
}

/* ================= FOOTER ================= */

.footer {
  background: #678DC6;
  padding: 60px 0 0;
  margin-top: auto;
}

.footer-container {
  max-width: 1224px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  padding: 0 32px;
  gap: 40px;
}

.footer-left {
  display: flex;
  flex-direction: column;
  gap: 46px;
}

.footer-logo-section {
  display: flex;
  align-items: flex-start;
  gap: 24px;
}

.footer-logo {
  width: 80px;
  height: 80px;
  border-radius: 50px;
  background: #ddd;
  flex-shrink: 0;
}

.footer-school-name {
  color: #FFF;
  font-family: 'BPG Banner Caps', sans-serif;
  font-size: 24px;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
  margin-top: 15px;
}

.footer-social-icons {
  display: flex;
  align-items: center;
  gap: 9px;
}

.social-icon {
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: opacity 0.3s;
}

.mini{
    width: 50px !important;
    height: 50px !important;
}
.social-icon:hover {
  opacity: 0.8;
}

.footer-middle {
  display: flex;
  flex-direction: column;
  gap: 17px;
}

.footer-heading {
  color: #FFF;
  font-family: 'BPG Banner Caps', sans-serif;
  font-size: 24px;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
  margin: 0;
}

.footer-links {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.footer-links a {
  color: #FFF !important;
  font-family: 'Inter', sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: normal;
  text-decoration: none !important;
  transition: opacity 0.3s;
}

.footer-links a:hover {
  opacity: 0.8;
}

.footer-right {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.footer-contact {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.contact-item {
  display: flex;
  align-items: center;
  gap: 10px;
  color: #FFF;
  font-family: 'BPG Rioni Arial', sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: normal;
}

.contact-item svg {
  flex-shrink: 0;
}

.footer-separator {
  max-width: 1224px;
  height: 1px;
  background: rgba(255, 255, 255, 0.50);
  margin: 60px auto 0;
}

.footer-bottom {
  color: #FFF;
  text-align: center;
  font-family: 'Inter', sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: normal;
  padding: 24px 0;
}

/* BURGER */

.burger {
  display: none;
  flex-direction: column;
  gap: 5px;
  cursor: pointer;
}

.burger span {
  width: 25px;
  height: 3px;
  background: white;
  display: block;
}

.arrow {
  margin-left: 10px;
  font-size: 12px;
}

  .footer-middle span{
    display: none;
  }
/* ========================= */
/* TABLET */
/* ========================= */

@media (max-width: 769px) {
  .nav-container {
    position: relative;
  }

  .burger {
    display: flex;
  }

  .menu {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    display: none;
    flex-direction: column;
    align-items: center;
    background: #6c8fc4;
    padding: 10px 0;
    z-index: 999;
  }

  .menu.active {
    display: flex;
  }

  .menu li {
    text-align: center;
    font-size: 18px;
    padding: 8px 0;
  }

  .footer-school-name {
    margin-top: 8px;
    font-size: 20px;
  }


  .footer-middle h3, .footer-right h3{
    font-size: 22px;
  }

  .footer-middle p, .footer-right p{
    font-size: 16px;
  }
}



@media (max-width: 426px) {

  .footer,
  .main-navbar {
    width: 100%;
    max-width: 425px;
    box-sizing: border-box;
  }

  .footer-container {
    align-items: center;
    text-align: center;
    flex-direction: column !important;
  }

  .footer-social-icons {
    justify-content: center;
  }

  .footer-school-name {
    font-size: 18px;
    margin-top: 24px;
  }

  .footer-contact {
    align-items: center;
    justify-content: center;
  }

  .footer-middle span {
    display: block;
  }

  /* ======================
     FOOTER TOGGLE
     ====================== */
  .footer-toggle {
    display: flex;
    justify-content: space-between; /* heading left, arrow right */
    align-items: center;
    cursor: pointer;
    width: 100%;
    padding: 10px 0 !important;
  }

  .footer-toggle h3 {
    margin: 0;
    flex: 1;               /* take remaining space */
    text-align: left;      /* keep heading left-aligned */
  }

  .footer-toggle .arrow {
    font-size: 16px;
    margin: 0 !important;
    padding: 0 !important;
    transition: transform 0.3s ease;
  }

  /* Footer links */
  .footer-links {
    display: none;
    flex-direction: column;
    gap: 10px;
    padding-left: 16px !important;
    text-align: left;     /* aligns links under heading */
  }

  .footer-links.active {
    display: flex;
  }

  .footer-toggle.active .arrow {
    transform: rotate(180deg);
  }

  /* ======================
     ALIGN MIDDLE & RIGHT SECTIONS
     ====================== */
  .footer-middle h3,
  .footer-right h3 {
    margin-left: 20px;     /* auto margins center the section */
    margin-right: auto;
  }

  .footer-middle p,
  .footer-right p {
    margin-left: auto;
    margin-right: auto;    /* center paragraph text */
  }

  .footer-right {
    margin: 0;
  }
  
  .footer-social-icons {
    justify-content: center;
    margin-left: 20px;
  }
}
