.main-p{
    margin-top : 120px;
    margin-left: 168px;
    margin-bottom : 40px;
}

.news-card {
    display: inline-flex;
    height: 420px;
    padding: 30px;
    align-items: flex-start;
    gap: 60px;
    border-radius: 40px;
    background: #D9D9D9;
    margin-left: 178px;
    width: 1224px;
}

.news-content {
    display: flex;
    width: 712px;
    flex-direction: column;
    align-items: flex-start;
    align-self: stretch;
}

.news-content > * {
    margin-bottom: 20px;
}

.news-content > *:last-child {
    margin-bottom: 0;
}


.news-title-wrapper {
    display: flex;
    padding: 10px;
    align-items: flex-start;
    gap: 10px;
    align-self: stretch;
}

.news-title {
    color: #315283;
    font-family: 'BPG Banner Caps';
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
}

.news-description-wrapper {
    display: flex;
    padding: 10px 10px 24px 10px;
    align-items: flex-start;
    gap: 10px;
}

.news-description {
    color: #032431;
    font-family: 'BPG Rioni Arial';
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 0 !important;
}

.news-date-wrapper {
    display: flex;
    padding: 10px 10px 0 10px;
    align-items: flex-end;
    gap: 10px;
    align-self: stretch;
}

.news-date {
    color: #032431;
    font-family: 'BPG Rioni Arial';
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 140px 0 0 0 !important;
}

.news-image {
    width: 392px;
    align-self: stretch;
    border-radius: 24px;
    background: rgba(103, 103, 103, 0.60);
}